{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <main role="main" class="container" style="display: flex;">
      <div class="row">
        <div class="col-md-7">
             <img id="mypic" class="img-fluid img-thumbnail max-width: 100%;" src="https://images.pexels.com/photos/5721878/pexels-photo-5721878.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
        </div>

      </div>

<div class="col-md-4">
          <div class="content-section">
            <h3>Get Picture</h3>
             <div class="list-group">
              <button class="fav btn btn-outline-secondary" type="submit">Next Pic</button>
<!--              <img id="mypic" src="">-->

              <div class="list-group">
{% csrf_token %}
<button class="add btn btn-outline-secondary" type="submit">Save</button>

                  </div>

                </div>
            </div>
        </div>
</main>
 {% endblock content %}