{% extends "blog/base.html" %}
{% block content %}



<h1>Your Selected Images</h1>
    <div style="display: flex; align-content: flex-start; flex-wrap: wrap; align-items: center;">
{% for apicall in apicalls %}
<div class="col-sm-4">
  <div class="card" style="object-fit: cover; vertical-align: bottom;">
         <div class="card-body">

         <img class="img-fluid" src="{{ apicall.name }}" alt="">
        <a href="{% url 'post-detail' apicall.id %}" class="btn btn-outline-secondary">Info</a>

    </div>
  </div>
</div>
{% endfor %}
</div>



  
{% endblock content %}